<h1><%= @book.title %></h1>
<h1><%= @book.author %></h1>
<p><%= @book.description %></p>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

<% if @book.user_id == current_user.id %>

  <%= link_to "Edit", edit_book_path(@book) %>
  <%= link_to "Delete", book_path(@book), :method => :delete, :data => { confirm: "Delete book?" } %>
<% end %>
<% end %>
