<div class="container">


<h1>Search for Books</h1>
<%= form_tag '/search' do %>
  <%= label_tag :title %>
  <%= text_field_tag :title %>
  <%= submit_tag "Search!" %>
<% end %>

<div class="tile main-tile is-ancestor">
  <% if @books  %>
    <% @books.each do |book| %>

        <div class="tile is-vertical is-4">
          <div class="tile">
        <div class="tile is-parent">

        <article class="tile is-child box is-info">

        <p class="title"><%= book["volumeInfo"]["title"] %></p>
        <% if book["volumeInfo"]["authors"] %>
          <% book["volumeInfo"]["authors"].each do |author| %>
            <p class="subtitle"><%= author %></p>
          <% end %>
        <% else %>
          <p class="subtitle">no author</p>
        <% end %>
        <p class="subtitle"><%= book["volumeInfo"]["description"] %></p>
        <figure class="image is-4by3">
        <img src="<%= book["volumeInfo"]["imageLinks"]["thumbnail"] %>" alt="">
        </figure>
    </article>
      </div>
      </div>
      </div>

    <% end %>
  <% end %>
</div>








</div>
