<!DOCTYPE html>
<html>
  <head>
    <title>Digibook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">

            <%= link_to "DIGIBOOK", root_path, :class=> "navbar-item" %>


          <span role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </span>

        </div>

        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
            <a href="#" class="navbar-item is-active">Home</a>
            <%= link_to "Search", search_path, :class=> "navbar-item" %>
            <%= link_to "Sign Up", new_user_registration_path, :class=> "navbar-item" %>
          <% if user_signed_in? %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => "delete",  :class=> "navbar-item" %>
            <% else %>
            <%= link_to "Log in", new_user_session_path,  :class=> "navbar-item" %>
            <% end %>
          </div>
        </div>
  </div>
</nav>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


</div>


<div class="container">
    <%= yield %>
    </div>

    <%= render "layouts/footer" %>


  </body>
</html>
